@use '../sass/variables' as s;

@include s.desktop{
    .web_top_container{
        display: flex;
        justify-content: center;
    }

    .web_container{
        margin-top: 10px;
        width: 1200px;
        height: 936px;
        border-radius: 5%;
    }

}