@use '../sass/variables' as s;

.web_top_container{
    display: flex;
    justify-content: center;
}


.web_container{
    margin-top: 10px;
    height: 936px;
    border-radius: 5%;

    @include s.tablet{
        width: 800px;
    }

    @include s.desktop{
        width: 1200px;
    }
}

