@use '../sass/_variables.scss' as s;

.style_top_container{
    @include s.mobile {
        width: 300px;
        margin: 0px auto;
    }

    @include s.tablet {
        width: 400px;
        height: 500px;

    }

    @include s.desktop {
        width: 550px;
        height: 500px;
    }
}


.style_photo{
    width: 200px;
}
.style_photo img{
    width: 200px;
    height: 200px;
    margin: auto;
  }
