@use '../sass/_variables.scss' as s;

.top_container{
    @include s.mobile{
        display: flex;
        justify-content: center;
        flex-direction: column; /* 아이템을 수직으로 나열합니다 */
        justify-content: space-between; /* 아이템을 위아래로 균등하게 분배합니다 */
        align-items: center; 
    }

}

.ai_header_box{
    @include s.mobile{
        background-color: rgb(255, 255, 255);
        width: 360px;
    }

}

.icon_home {
    @include s.mobile{
        margin-left: 300px;
        margin-top: 20px;
        fill: black;
    }
    @include s.desktop{
        display: none;
    }
}
