@use '../sass/variables' as s;

.web_box {
    @include s.tablet {
        display: flex;
        flex-direction: row;
        width: 800px;
        height: 800px;

    }

    @include s.desktop {
        display: flex;
        flex-direction: row;
        width: 1200px;
        height: 800px;
    }

}
.web_top_container {
    display: flex;
    justify-content: center;
}


.web_container {
    height: 863px;
    border-radius: 5%;

    @include s.tablet {
        width: 800px;
    }

    @include s.desktop {
        width: 1200px;
    }
}