@use '../sass/variables' as s;

.photo_top_container {
    display: flex;
    flex-direction: column;
    width: 1000px;

    @include s.mobile {
        justify-content: center;
        align-items: center;
    }
}

// 사진3개씩 n줄 큰컨테이너
.photo_second_container {
    overflow: auto;
    display: flex;
    background-color: rgb(230, 230, 230);

    @include s.mobile {
        width: 350px;
        height: 460px;
    }

    @include s.tablet{
        width: 500px;
        height: 700px;
        margin: auto;
        margin-top: 20px;
    }

    @include s.desktop {
        width: 800px;
        height: 700px;
        margin: auto;
        margin-top: 20px;

    }
}

.photo_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




.web_pageInfo {
    @include s.mobile {
        display: none;
    }

    @include s.tablet{
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 90px;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
    }

    @include s.desktop {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 90px;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
    }
}

.web_pageInfo img {
    @include s.mobile{
        display: none;
    }

    @include s.tablet{
        width: 100px;
        height: 100px; 
    }

    @include s.desktop{
        width: 100px;
        height: 100px; 
    }

}

.web_infoText {
    @include s.mobile{
        display: none;
    }

    @include s.tablet{
        font-size: 18px;
        font-weight: 900;
    }

    @include s.desktop{
        font-size: 20px;
        font-weight: 900;
    }
}


.photo_btn_div {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 30px;
}

.uploadBtn{
    width: 130px;
    background-color: #46b95d;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    
    @include s.tablet{
        width: 200px;
    }

    @include s.desktop{
        width: 300px;
    }
}

.uploadBtn:hover{
    background-color: #335A3B;
}