@use '../sass/variables' as s;

@include s.mobile {

    .photo_top_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* 아이템을 수직으로 나열합니다 */
        justify-content: space-between;
        /* 아이템을 위아래로 균등하게 분배합니다 */
        align-items: center;
    }

    .photo_container {
        background-color: rgb(247, 247, 247);
        display: flex;
        width: 330px;
        height: 460px;
    }

    .upload_btn {
        border-radius: 50%;
        fill: rgb(67, 155, 59);
        margin: 20px;
        margin-left: 280px;
        a{
            width: 100%;
        }
    }

    .web_pageInfo{
        display: none;
    }
}

@include s.desktop {
    .photo_top_container {
        width: 930px;
        display: flex;
        flex-direction: column;
    }

    .web_pageInfo {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 90px;
        align-items: center;
        margin-right: auto;
        margin-bottom: auto;
    }

    .web_pageInfo img {
        width: 100px;
        height: 100px;
    }

    .web_infoText {
        font-size: 20px;
        font-weight: 900;
    }

    .photo_container {
        margin: auto;
        background-color: rgb(213, 247, 182);
        display: flex;
        width: 500px;
        height: 560px;
        border-radius: 1%;
    }

    .photo_btn_div {
        // background-color: bisque;
        align-items: end;
        height: 90px;
    }

    .upload_btn {
        border-radius: 50%;
        fill: rgb(67, 155, 59);
        margin-left: 630px;      
    }

}