@use '../sass/variables' as s;

.photo_top_container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: white;

    @include s.mobile {
        align-items: center;
        justify-content: center;
    }
}

// 사진3개씩 n줄 큰컨테이너
.photo_second_container {
    display: flex;
    overflow: auto;
    background-color: rgb(230, 230, 230);

    @include s.mobile {
        margin-top: 10px;
        width: 350px;
        height: 400px;
    }

    @include s.tablet {
        margin: auto;
        margin-top: 20px;
        width: 550px;
        height: 600px;
    }

    @include s.desktop {
        margin: auto;
        margin-top: 40px;
        width: 800px;
        height: 700px;

    }
}

.photo_second_container::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바 너비 설정 */
}

.photo_second_container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    /* 스크롤바 썸의 배경 색상 설정 */
}

.photo_second_container::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* 스크롤바 썸에 마우스 호버했을 때의 배경 색상 설정 */
}

// 사진 회색컨테이너 (마진)
.photo_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include s.mobile {
        margin-left: 20px;
    }

    @include s.tablet {
        margin-left: 10px;
    }

    @include s.desktop {
        margin-left: 20px;
    }
}

// 사진 선택 css
.selected {
    // border: 6px solid #5192B3;
    border: 6px double transparent;
    /* 기본 테두리 색상을 투명하게 설정합니다. */
    border-image: linear-gradient(#7bc48b, #2cbd64) 6;
    /* #ff0000과 #00ff00을 원하는 색상으로 바꿉니다. */
}

.image_container {
    margin-top: 20px;
    width: 100%;
    height: 220px;
}

.image_container img {
    margin: auto;
    width: 200px;
    height: 200px;
}

.web_pageInfo {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-right: auto;
        margin-bottom: auto;
    @include s.mobile {
        display: none;
    }

    @include s.tablet {      
        width: 600px;
        height: 90px;
    }

    @include s.desktop {
        width: 500px;
        height: 90px;
    }
}

.web_pageInfo img {
    @include s.mobile {
        display: none;
    }

    @include s.tablet {
        width: 100px;
        height: 100px;
    }

    @include s.desktop {
        width: 100px;
        height: 100px;
    }

}

.web_infoText {
    @include s.mobile {
        display: none;
    }

    @include s.tablet {
        font-size: 20px;
        font-weight: 900;
    }

    @include s.desktop {
        font-size: 23px;
        font-weight: 900;
    }
}

// 라디오 버튼 css
.radio_container {
    margin-top: 30px;

    @include s.mobile {
        margin-top: 30px;
        width: 360px;
    }

}

.radio_text_box {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.radio_box {
    display: flex;
    justify-content: center;

    @include s.mobile {
        width: 290px;
        height: 40px;

    }

    @include s.tablet {
        height: 42px;
    }

    @include s.desktop {
        height: 55px;
    }

}

.web_radio_box {
    display: flex;

    @include s.mobile {
        margin-left: 8px;
        width: 290px;
        height: 40px;
    }

    @include s.tablet {
        margin-left: 45px;
        height: 45px;
    }

    @include s.desktop {
        margin-left: 90px;
        height: 60px;
    }

}

.img_question {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.radio_text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;

    @include s.tablet {
        margin-left: 50px;
    }

    @include s.desktop {
        margin-left: 100px;
    }
}

.radio {
    margin: 5px 10px 0px 0px;
    font-size: 18px;
}

.radio_label {
    margin: 10px 5px 0px 0px;
    margin-top: 10px;
    padding: 1%;
    width: 100px;
    width: 80px;
    background-color: #DDEFC7;
    font-weight: 600;
    text-align: center;
    border-radius: 5%;


    @include s.tablet {
        margin-top: 10px;
        width: 100px;
    }

    @include s.desktop {
        margin: 10px 5px;
        width: 140px;

    }
}

.checked {
    background-color: #335A3B;
    color: white;
}

input[type="radio"] {
    display: none;
}


// 버튼 css
.photo_btn_div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 50px;
}

.uploadBtn,
.ai_style_btn {
    border-color: #b8c7a5;
    width: 130px;
    height: 40px;
    background-color: #DDEFC7;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;

    @include s.tablet {
        width: 200px;
    }

    @include s.desktop {
        width: 300px;
    }
}

.uploadBtn:hover,
.ai_style_btn:hover {
    background-color: #335A3B;
    color: white;
}


// 스타일 선택 모달창 버튼
.ai_style_btn_div {
    display: flex;
    justify-content: center;
    width: 100%;

}

.ai_style_btn {
    margin-top: 20px;
    height: 40px;
    background-color: #DDEFC7;

    @include s.desktop {
        margin-top: 10px;
    }
}