@use '../sass/_variables.scss' as s;


.ai_top_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.ai_page_info{
    @include s.mobile{
        display: none;
    }
    @include s.desktop{
        background-color: aquamarine;
        width: 100%;
        height: 40px;
    }
}

.plant_container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include s.mobile {
        width: 360px;
        height: 180px;
        background-color: rgb(255, 255, 255);
    }

}

// 식물이름
.plant_nickname {
    width: 300px;
    height: 40px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: 800;
    font-size: 23px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

// 식물사진,종,날짜 컨테이너
.plant_data {
    background-color: #ffffff;
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

// 식물 동그라미
.circle {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

}

// 식물 동그라미 배경 색
.plant_image_color {
    background-color: rgb(67, 126, 204);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;

    @include s.mobile{
        width: 100px;
        height: 100px;
    }

}

// 식물 이미지 div
.plant_main_image img {
    background-color: rgb(255, 255, 255);

    @include s.mobile{
        width: 85px;
        height: 85px;
    }

    @include s.desktop{
        width: 85px;
        height: 85px;
    }
}

// 식물 종, 날짜 컨테이너
.plant_text_data {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 50px;

    @include s.mobile{
        margin: 10px;
        margin-top: 25px;
    }

}

// 식물 종, 날짜
.plant_species,
.plant_date {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 18px;
    font-weight: 900;
}

