/* Calender.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.div{
  @include s.mobile{
    font-family: 'NanumSquareNeo-Variable';
    /* 범위 및 크기 지정 */
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;

    width: 94%;
    height: auto;
    border-radius: 0.7em;
    background-color: #8AC4A3;
    
    /* 내용 가운데 정렬 */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  @include s.tablet{
    font-family: 'NanumSquareNeo-Variable';
    /* 범위 및 크기 지정 */
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;

    width: 94%;
    height: auto;
    border-radius: 0.7em;
    background-color: #8AC4A3;
    
    /* 내용 가운데 정렬 */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  @include s.desktop{
    font-family: 'NanumSquareNeo-Variable';
    /* 범위 및 크기 지정 */
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%;

    width: 94%;
    height: auto;
    border-radius: 0.7em;
    background-color: #8AC4A3;
    
    /* 내용 가운데 정렬 */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
}