@use '../sass/_variables.scss' as s;
/* Diary_content.css (별도의 CSS 파일) */

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.diary_container {

    /* 위치 지정 */
    margin-bottom: 3%;
    padding: 4%;

    /* 크기 조정 */
    height: 185px;
    border-radius: 0.7em;

    /* 배치 조정 */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* box_shadow: 왼오 위아래 퍼짐정도 진하기 */
    box-shadow: 0px 1px 7px 0px grey;

    @include s.mobile {
        width: 90%;
        height: 170px;
    }
    @include s.tablet{
        width: 90%;
    }
    @include s.desktop {
        width: 92%;
    }
}

.diaryFile {
    width: 160px;
    height: 160px;
    
    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* css */
    color: black;

    @include s.mobile {
        height: 140px;
        width: 140px;
    }
}

.linkFile {
    padding-right: 4%;
}


/* 다이어리 오른쪽 제목,내용 박스 */
.diary_content {
    width: 59%;
    height: 100%;

    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
}

.diary_content::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바 너비 설정 */
}

.diary_content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    /* 스크롤바 썸의 배경 색상 설정 */
}

.diary_content::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* 스크롤바 썸에 마우스 호버했을 때의 배경 색상 설정 */
}

.top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.title2 {
    font-size: 17px;
    font-weight: 800;
    margin-right: 10px;
    overflow: hidden;

    /* 크기지정 */
    height: 25px;


}

.diaryContent_bin {
    width: 23px;
    height: 23px;


}


.contents {
    font-size: 15px;
    text-align: justify;
}

