@use '../sass/_variables.scss' as s;
/* GreenList_all.css (별도의 CSS 파일) */

@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/****************************** 식물리스트 공간 */
.list_container2 {

  /* 범위 지정 */
  height: auto;
  
  /* 배치 조정 */
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  
  /* css */
  background-color: #F2F2F2;
  border-radius: 0.7em;
  overflow: auto;
  text-decoration-line: none;
  color: #000000;
  padding-left: 2%;
  padding-right: 2%;
  
  @include s.mobile {
    width: 90%;
  }
  @include s.tablet {
    width: 100%;
  }
  @include s.desktop {
    width: 90%;
    height: 680px;
  }
  
}


/****************************** 동그라미 사진 공간 */
.green,
.green2,
.select_all {
  background-color: #335A3B;
  color: white;

  /* 모양 만들기 */
  border-radius: 50%;

  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include s.mobile {
    width: 100px;
    height: 100px;
  }

  @include s.tablet {
    width: 150px;
    height: 150px;
  }

  @include s.desktop {
    width: 275px;
    height: 275px;
  }
}

.green2 {
  background-color: lightskyblue;
}


/* 저장된 사진 이미지 */
.green img,
.green2 img {
  /* 모양 만들기 */
  border-radius: 50%;

  @include s.mobile {
    width: 90px;
    height: 90px;
  }

  @include s.tablet {
    width: 140px;
    height: 140px;
  }

  @include s.desktop {
    width: 260px;
    height: 260px;
  }
}

/****************************** 동그라미 아래 title 공간 */

.allList_all,
.allList_new,
.allList_add {
  margin-top: 1%;

  @include s.mobile {
    font-size: 15px;
  }

  @include s.tablet {
    font-size: 15px;
  }

  @include s.desktop {
    font-size: 17px;
  }
}

.allList_all {
  position: relative;
}

.allList_new {
  position: relative;
  left: 0.5%;
}

.allList_add {
  position: relative;
  left: 0.5%;
}