@use '../sass/variables' as s;

.item_ai_return {
    margin-top: 25px;
    margin-bottom: 25px;
}

.item_ai_return img {
    background-color: rgb(223, 223, 223);
    margin: 5px;
    border-radius: 5%;

    @include s.mobile {
        width: 300px;
        height: 300px;
    }

    @include s.desktop {
        width: 500px;
        height: 500px;
    }
}