@use '../sass/variables' as s;

@include s.mobile{
.item_photo:nth-child(2n) {
        clear: both;
    }
}

.item_photo:nth-child(3n) {
    @include s.tablet{
        clear: both;
    }

    @include s.desktop{
        clear: both;
    }

}


.item_photo{
    background-color: rgb(155, 202, 151);
    border-radius: 5%;
    cursor: pointer;
    @include s.mobile{
        margin: 5px;
        width: 140px;
        height: 140px;
    }

    @include s.tablet{
        width: 130px;
        height: 130px;
        margin: 7px;
    }

    @include s.desktop{
        margin: 10px;
        width: 230px;
        height: 230px;

    }
}



