@use '../sass/variables' as s;

.item_photo:nth-child(3n) {
    clear: both;
    background-color: rebeccapurple;
}


.item_photo{
    background-color: rgb(155, 248, 171);
    border-radius: 5%;
    cursor: pointer;
    @include s.mobile{
        margin: 5px;
        width: 100px;
        height: 100px;
    }

    @include s.desktop{
        margin: 10px;
        width: 230px;
        height: 230px;

    }
}

