/* writeDiary.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.writeDiary_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: space-around;
    text-align: center;

    /* 상하 위치 조정 */
    margin-bottom: 7%;

    @include s.desktop {
        width: 1200px;
        height: 936px;
    }
}

.header_diary {
    /* 배치 조정 */
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
}

.diary_pie {
    width: 100%;
    height: 100%;
    @include s.desktop {
        display: flex;
    }
    @include s.tablet {
        width: 600px;
    }
}

.diary_Bigpie {
    @include s.desktop {
        width: auto;
        height: auto;
    }
}

.partRight {
    @include s.desktop {
        width: 500px;
    }
}

.partLeft {
    @include s.desktop {
        width: 500px;
        margin-top: 5%;
 
    }
}
/************************************* 사이드 바 */
.withDesktop {
    @include s.desktop{

    }
    @include s.tablet {

    }
    @include s.mobile{
        display: none;
    }
}


/************************************* 모바일 식물정보 화면 */
.profile_container2 {
    /* 배치 조정 */
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    @include s.desktop {
        display: none;
    }
    @include s.tablet {
        display: none;
    }
}


.plant_container2 {
    margin-bottom: 2%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include s.mobile {
        width: 360px;
    }
    @include s.tablet {
        width: 100%;
    }
}




/* 저장된 사진 이미지 */
.profile_green img {
    /* 모양 만들기 */
    border-radius: 50%;
    width: 63px;
    height: 63px;

    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*************************************  날짜 */

.diaryDate1 {
    @include s.desktop {
        margin-bottom: 5%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 0.7em;
        padding: 2%;
        width: auto;
        background-color: #8AC4A3;
    }
    @include s.tablet {
        margin-bottom: 2%;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 0.7em;
        padding: 2%;
        width: auto;
        background-color: #8AC4A3;
    }
    @include s.mobile{
        display: none;
    }
}
.diaryDate2 {
    @include s.mobile {
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 0.7em;
        padding: 2%;
        width: auto;
        background-color: #8AC4A3;
    }
}

.diary_photo2,
.Diary_Sidebar,
.diaryDate2 {
    @include s.desktop {
        display: none;
    }

    @include s.tablet {
        display: none;
    }
}
/*************************************  파일선택하면 사진 뜨는 공간 */

.diary_photo1 {
    @include s.mobile {
        display: none;
    }
}


.green_photo {
    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* css */
    color: black;

    @include s.desktop {
        width: 100%;
        min-height: 100px;
        height: auto;
    }
    @include s.tablet {
        width: 100%;
        min-height: 100px;
        height: auto;
    }
    @include s.mobile {
        width: 100%;
        min-height: 70px;
        height: auto;
    }
    
}

.green_photo img {
    width: auto;
    height: auto;
    
    @include s.desktop {
        max-height: 400px;
        max-width: 90%;
    }
    @include s.tablet{
        max-height: 300px;
        max-width: 90%;
    }
    @include s.mobile {
        max-height: 200px;
        max-width: 90%;
    }
}

/* 사진 받아오는 input */
.inputWrite {
    margin: 10px;
    width: 200px;
}

/*************************************  일기 작성하는 곳 */
.input_container2 {
    margin-left: 5%;
    margin-right: 5%;

    @include s.mobile {
        margin: 5%;
    }

    @include s.tablet {
        margin: 5%;
    }

    @include s.desktop {
        width: 90%;
        height: 90%;
    }
}

.text_alarm {
    font-size: 14px;
    font-weight: bolder;
    text-align: right;
    margin-bottom: 4%;

    position: relative;

    @include s.mobile {
        right: 5%;
    }

    @include s.tablet {
        right: 5%;
    }

    @include s.desktop {
        right: 5%;
    }
}

.write_box {
    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;

    /* 상하 위치 조정 */
    margin-bottom: 7%;
}

.titleBox,
.contentBox {
    /* 위치 지정 */
    width: 100%;
    padding: 2%;

    /* 내용 왼쪽 정렬 */
    text-align: left;

    /* css */
    color: #000000;
    border: none;
}
.titleBox {
    background-color: #DDEFC7;
}
.contentBox {
    height: 200px;

    @include s.tablet {
        height: 150px;
    }
    
}


