@use '../sass/_variables.scss' as s;


.greendiary_container {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    @include s.desktop {
        width: 1200px;
        height: 863px;
    }
    @include s.tablet {
        width: 800px;
    }
    @include s.mobile {
        width: 360px;
    }
}

.main_big_pie1>.ai_plant_container {
    @include s.mobile {
        display: none;
    }
}

.diary_all {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



/* 작성 및 삭제 아이콘 */
.icons2 {
    display: flex;
    align-items: center;
    position: relative;

    @include s.mobile {
        width: 80px;
        left: 75%;
    }

    @include s.tablet {
        width: 135px;
    }

    @include s.desktop {
        width: 145px;
    }
}

/*************************************** 소제목  */
.mid_title {
    font-weight: bolder;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;

    @include s.desktop {
        display: flex;
    }

    @include s.mobile {
        font-size: 20px;
    }
}

.mid_title3 {
    font-weight: bolder;

    @include s.mobile {
        display: none;
    }

    @include s.tablet {
        font-size: 20px;
        font-weight: bolder;
        display: flex;
        align-items: center;
    }

    @include s.desktop {
        font-size: 23px;
        font-weight: bolder;


    }
}

.mid_title_edit img {
    @include s.mobile {
        margin-right: 20px;
        width: 20px;
    }

    @include s.tablet {
        margin-right: 30px;
        width: 25px;
    }

    @include s.desktop {
        margin-right: 38px;
        width: 25px;
    }
}

/**************************************** 삭제!! bin 버튼 */
.mid_title_bin2 img {
    @include s.mobile {
        margin-right: 20px;
        width: 30px;
        height: 30px;
    }

    @include s.tablet {
        margin-right: 35px;
        width: 35px;
        height: 35px;
    }

    @include s.desktop {
        margin-right: 38px;
        width: 40px;
        height: 40px;
    }
}

/* 삭제 버튼 눌렀을 때 */
.deletionModeGreenDiary{
    background-color: #EDF113;
    border-radius: 50%;
  }


/********************************** 다이어리 아랫 공간 */
.diary_box {
    display: flex;
    justify-content: center;

    @include s.desktop {
        width: 1000px;
    }
}

.diary_box2 {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;

    @include s.desktop {
        width: 623px;

    }

    @include s.tablet {
        width: 557px;
    }

    @include s.mobile {
        width: 330px;
        height: 312px;
    }
}

.diary_box2::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바 너비 설정 */
}

.diary_box2::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    /* 스크롤바 썸의 배경 색상 설정 */
}

.diary_box2::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* 스크롤바 썸에 마우스 호버했을 때의 배경 색상 설정 */
}

.diaryFile2 {
    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;

    /* css */
    color: black;
    margin: 0.5%;

    @include s.desktop {
        width: 193px;
        height: 193px;
    }

    @include s.tablet {
        width: 175px;
        height: 175px;
    }

    @include s.mobile {
        width: 155px;
        height: 155px;
    }
}

.diary_info {
    position: relative;

    /* CSS */
    font-size: 15px;
    font-weight: bolder;
    color: #000000;
    text-align: left;

    @include s.mobile {
        font-size: 12px;
        margin-left: 28px;
        right: 20px;
        bottom: 28%;
    }

    @include s.tablet {
        /* 위치 */
        bottom: 30%;
    }

    @include s.desktop {
        /* 위치 */
        bottom: 30%;

    }
}

.diary_title {
    /* 크기 */
    width: 150px;
    height: 22.5px;

    /* CSS */
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 black, /* 왼쪽 위 방향으로 검은색 테두리 */
    1px -1px 0 black, /* 오른쪽 위 방향으로 검은색 테두리 */
    -1px 1px 0 black, /* 왼쪽 아래 방향으로 검은색 테두리 */
    1px 1px 0 black; /* 오른쪽 아래 방향으로 검은색 테두리 */

    @include s.mobile {
        width: 120px;
        height: 17px;
    }
}

.diary_date {
    /* CSS */
    color: rgb(255, 255, 255);
    text-shadow:
    -1px -1px 0 black, /* 왼쪽 위 방향으로 검은색 테두리 */
    1px -1px 0 black, /* 오른쪽 위 방향으로 검은색 테두리 */
    -1px 1px 0 black, /* 왼쪽 아래 방향으로 검은색 테두리 */
    1px 1px 0 black; /* 오른쪽 아래 방향으로 검은색 테두리 */
}

