@use '../sass/_variables.scss' as s;


.greendiary_container {
    @include s.desktop {
        width: 1200px;
        height: 936px;
        border-radius: 5%;
    }
}

.main_big_pie1>.ai_plant_container {
    @include s.mobile {
        display: none;
    }
}

.diary_all {
    align-items: center;
    justify-content: space-between;
}

/* 오른쪽 삭제 아이콘 */
.mid_title_bin2 img {
    @include s.mobile {
        margin-right: 15px;
        width: 20px;
    }

    @include s.tablet {
        margin-right: 30px;
        width: 25px;
    }

    @include s.desktop {
        margin-right: 70px;
        width: 25px;
    }
}

.diary_box {
    @include s.desktop {
        width: 100%;
    }
}