/* Page_join.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.join_container {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    /* 내용 가운데 정렬 */
    align-items: center;
    text-align: center;

    @include s.mobile {
        /* 내용 가운데 정렬 */
        justify-content: space-around;

        /* 크기 지정 */
        max-height: 500px;

        /* 상하 위치 조정 */
        margin-top: 20%;
    }

    @include s.tablet {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 상하 위치 조정 */
        margin-top: 13%;
    }

    @include s.desktop {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 상하 위치 조정 */
        margin-top: 4%;
    }
}

.join_box {
    /* 내용 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include s.mobile {
        width: 100%;
    }

    @include s.tablet {
        width: 40%;
    }

    @include s.desktop {
        width: 31%
    }

}

.join_input input {
    @include s.tablet {
        font-size: 12px;
    }

    @include s.desktop {
        font-size: 15px;
    }
}
/* 파일선택 css */
input[type='file'] {
    width: 200px;
    margin-left: 20px; 

    @include s.desktop {
        margin-left: 50px; 
    }
  }

/* join-button css는 Page_intro.css에! */

.join_id,
.join_pw,
.join_name,
.join_nickname {
    /* css */
    border-radius: 0.7em;
    background-color: #F2F2F2;
    color: #000000;
    border: none;

    /* 범위 지정 */
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    padding-left: 4%;

    /* 내용 왼쪽 정렬 */
    text-align: left;

    @include s.mobile {
        font-size: 12px;

        /* 서로 상하 위치 조정 */
        margin-top: 5%;

        /* 크기 지정 */
        width: 60%;
        height: auto;
    }

    @include s.tablet {
        font-size: 15px;

        /* 서로 상하 위치 조정 */
        margin-top: 4%;

        /* 크기 지정 */
        width: 60%;
        height: auto;
    }

    @include s.desktop {
        /* 서로 상하 위치 조정 */
        margin-top: 5%;

        /* 크기 지정 */
        width: 55%;
        height: auto;
    }
}

.id_check {
    color: red;
    text-align: right;

    /* 위치 조정 */
    position: relative;

    @include s.mobile {
        font-size: 10px;
        right: 20%;
    }

    @include s.tablet {
        font-size: 10px;
        right: 20%;
    }

    @include s.desktop {
        font-size: 12px;
        right: 22%;
    }
}

/* 유저 사진 */
.join_photo {
    background-color: #335A3B;
    color: white;
    border: 2px solid #ccc;
    overflow: hidden;
    
    /* 모양 만들기 */
    border-radius: 50%;

    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 서로 상하 위치 조정 */
    margin-top: 2%;
    margin-bottom: 1%;
    position: relative;

    @include s.mobile {
        left: 24%;
        width: 200px;
        height: 200px;
    }

    @include s.tablet {
        left: 22%;
        width: 200px;
        height: 200px;
    }

    @include s.desktop {
        left: 29%;
        width: 250px;
        height: 250px;
    }
}

.join_photo img {
    border-radius: 50%;

    @include s.mobile {
        /* 가운데 정렬 */
        left: 24%;
        width: 200px;
        height: 200px;
    }

    @include s.tablet {
        left: 22%;
        width: 200px;
        height: 200px;
    }

    @include s.desktop {
        left: 29%;
        width: 250px;
        height: 250px;
    }
}