/* Page_main.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main_container {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    @include s.desktop {
        width: 1200px;
        height: 936px;
        border-radius: 5%;
    }
}

.main_page1 {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    /* 내용 가운데 정렬 */
    align-items: center;
    text-align: center;
}

.main_big_pie1 {
    /* 헤더 제외 하단 영역 */
    @include s.tablet {
        display: flex;
        width: 100%;
    }
    @include s.desktop {
        display: flex;
        width: 100%;
    }
}

/********************************* Sidebar.jsx */
.main_big_pie1>.sidebar {
    @include s.mobile {
        display: none;
    }
}

.user_image img {
    margin-bottom: 10px; 

    /* 모양 만들기 */
    border-radius: 50%;

    @include s.desktop {
        width: 150px;
        height: 150px;
    }
}
.user_name {
    font-family: 'KCC-Ganpan';
    @include s.mobile {
        font-size: 200%;
    }
    @include s.tablet {
        font-size: 260%;
    }
    @include s.desktop {
        font-size: 200%;
    }
}

.user_welcome {
    font-family: 'NanumSquareNeo-Variable';
    @include s.mobile {
        font-size: 100%;
    }
    @include s.tablet {
        font-size: 140%;
    }
    @include s.desktop {
        font-size: 150%;
    }
}

/***************************************** 중간 */
.main_left {

    /* 일자, 캘린더, 식물리스트 */
    @include s.desktop {
        width: 465px;
        height: 100%;
    }
}

.main_left>.web_date {
    @include s.mobile {
        display: none;
    }
}

.main_pie2 {
    @include s.mobile {
        display: none;
    }
}

.main_page2 {
    @include s.mobile {
        /* 크기 지정 */
        height: 100%;
        width: 100%;

        /* 내용 가운데 정렬 */
        align-items: center;
        text-align: center;
    }

    @include s.desktop {
        display: none;
    }
}


.middle_menu {
    margin: 2%;
    width: 96%;
    height: 60px;

    /* 박스 정렬 */
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.icon_AI,
.icon_filpBook {
    background-color: white;
    width: 50px;
    height: 50px;
    /* box_shadow: 왼오 위아래 퍼짐정도 진하기 */
    box-shadow: 0px 1px 10px 0px grey;
    border-radius: 15%;
}

.icon_AI img,
.icon_filpBook img {
    /* 아이콘 크기 조정 */
    width: 30px;
    margin-top: 9px;
}