/* login.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.login_container {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    /* 내용 가운데 정렬 */
    align-items: center;
    text-align: center;

    @include s.mobile {
        /* 내용 가운데 정렬 */
        justify-content: space-around;

        /* 크기 지정 */
        max-height: 500px;

        /* 상하 위치 조정 */
        margin-top: 30%;
    }

    @include s.tablet {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 상하 위치 조정 */
        margin-top: 15%;
    }

    @include s.desktop {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        width: 1200px;
        height: 930px;
    }
}


/********************************* 로고 이미지 css */
/* 회원가입/마이페이지 */
.input_logo {
    @include s.mobile {
        display: none;
    }
    
    @include s.tablet {
        height: 150px;
        width: 250px;
    }
    
    @include s.desktop {
        height: 350px;
        width: 400px;
    }
}

.input_logo img {
    @include s.mobile {
        position: relative;
        height: 100px;
    }
    
    @include s.tablet {
        height: 130px;
    }
    
    @include s.desktop {
        height: 200px;
    }
}

/* 로그인페이지 */
.input_logo2 {
    @include s.mobile {
        height: auto;
        width: 100%;
    }
    
    @include s.tablet {
        height: 150px;
        width: 250px;
    }
    
    @include s.desktop {
        height: 350px;
        width: 400px;
    }
}

.input_logo2 img {
    @include s.mobile {
        position: relative;
        height: 150px;
    }
    
    @include s.tablet {
        height: 130px;
    }
    
    @include s.desktop {
        height: 200px;
    }
}

/********************************* 로그인박스  */

.login_box {
    /* 내용 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* 로그인 환영 문구 */
.login {
    margin-bottom: 2%;

    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* 로그인 인풋 */
.login_box2 {
    width: 350px;
}

.loginBack {
    position: relative;
    
    @include s.mobile{
        display: none;
    }
    @include s.tablet {
        left: 45%;
    }
    @include s.desktop {
        left: 50%;
    }
}