/* login.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/********************************* 폰트 설정 */
* {
    font-family: 'NanumSquareNeo-Variable';
}

.logo_font {
    font-family: 'KCC-Ganpan';
    @include s.mobile {
        font-size: 230%;
    }
    @include s.tablet {
        font-size: 260%;
    }
    @include s.desktop {
        font-size: 300%;
    }
}

.etc_font {
    font-family: 'NanumSquareNeo-Variable';
    @include s.mobile {
        font-size: 130%;
    }
    @include s.tablet {
        font-size: 140%;
    }
    @include s.desktop {
        font-size: 180%;
    }
}

.login_container {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    /* 내용 가운데 정렬 */
    align-items: center;
    text-align: center;

    @include s.mobile {
        /* 내용 가운데 정렬 */
        justify-content: space-around;

        /* 크기 지정 */
        max-height: 500px;

        /* 상하 위치 조정 */
        margin-top: 50%;
    }

    @include s.tablet {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 상하 위치 조정 */
        margin-top: 15%;
    }

    @include s.desktop {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 상하 위치 조정 */
        margin-top: 15%;
    }
}

.login {
    margin-bottom: 2%;
}

/********************************* 로고 이미지 css */
.input_logo {
    @include s.mobile {
        margin-bottom: 5%;
    }

    @include s.tablet {
        height: 150px;
        width: 300px;
    }

    @include s.desktop {
        height: 200px;
        width: 400px;
    }
}

.input_logo img {
    @include s.mobile {
        position: relative;
        height: 110px;
    }

    @include s.tablet {
        height: 150px;
    }

    @include s.desktop {
        height: 180px;
    }
}

.login {
    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.login_box {
    /* 내용 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}