/* Mypage.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mypage_container {
    /* 크기 지정 */
    height: 100%;
    width: 100%;

    /* 내용 가운데 정렬 */
    align-items: center;
    text-align: center;

    @include s.mobile {
        /* 내용 가운데 정렬 */
        justify-content: space-around;
    }

    @include s.tablet {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 상하 위치 조정 */
        margin-top: 4%;
    }

    @include s.desktop {
        /* 내용 가운데 정렬 */
        display: flex;
        justify-content: center;

        /* 크기 */
        width: 1200px;
        height: 863px;
    }
}

.mypage_box {
    /* 내용 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include s.mobile {
        width: 100%;
    }

    @include s.tablet {
        width: 40%;
    }

    @include s.desktop {
        width: 30%;
    }
}

.mypage_form {
    width: auto;
    
    /* 내용 가운데 정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.inputMypage {
    font-size: 13px;
    
    @include s.desktop {
        margin-left: 180px;
    }
    @include s.tablet {
        margin-left: 170px;
    }
    @include s.mobile {
        width: 180px;

    }
}

.mypage_form2 {
    margin-top: 10px;

    @include s.mobile {

    }

    @include s.tablet {

    }

    @include s.desktop {
        width: 300px;
    }
}

.text2 {
    /* 서로 상하 위치 조정 */
    margin-top: 7%;

    /* 범위 및 크기 지정 */
    width: 100%;
    height: auto;
    padding-left: 2%;

    /* 내용 가운데 정렬 */
    text-align: left;

    /* css */
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    /* background-color: #F2F2F2; */
    font-weight: bolder;

    @include s.mobile {
        font-size: 15px;
    }

    @include s.tablet {
        font-size: 16px;
    }

    @include s.desktop {
        font-size: 17px;
    }
}

.session_info,
.mypage_pw,
.mypage_nickname {
    /* 범위 및 크기 지정 */
    width: 100%;
    height: auto;
    padding: 2%;
    padding-top: 0;
    padding-left: 10%;

    /* 내용 가운데 정렬 */
    text-align: left;

    /* css */
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    /* background-color: #F2F2F2; */

    @include s.mobile {
        font-size: 14px;
    }

    @include s.tablet {
        font-size: 14px;
    }

    @include s.desktop {
        font-size: 15px;
    }
}

.mypage_pw,
.mypage_nickname {
    /* css */
    color: #A6A6A6;
    border: none;
}

/********************************** 버튼 태그 css */
.complete_button2 {
    position: relative;
    top: 50%;
    border: 1px solid #335A3B;
    margin-bottom: 5%;
    display: inline-block;

    /* 범위 및 크기 지정 */
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    width: 70%;
    height: auto;

    /* css */
    border-radius: 0.7em;
    background-color: #DDEFC7;

    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;


}
/* link태그 제외부분 패딩, 마진 부위 호버 */
.complete_button2:hover {
    background-color: #335A3B;
    color: white;
}
/* link태그 부분 호버 */
.complete_button2 a:hover {
    background-color: #335A3B;
    color: white;
}


/************************************* 유저 사진 */
.mypage_photo {
    background-color: #335A3B;
    color: white;
    /* 모양 만들기 */
    border-radius: 50%;

    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 서로 상하 위치 조정 */
    margin-top: 2%;
    margin-bottom: 1%;
    position: relative;

    border: 2px solid #ccc;
    overflow: hidden;

    @include s.mobile {
        width: 200px;
        height: 200px;
    }

    @include s.tablet {
        width: 150px;
        height: 150px;
    }

    @include s.desktop {
        width: 250px;
        height: 250px;
    }
}

.mypage_photo img {
    border-radius: 50%;

    @include s.mobile {
        width: 200px;
        height: 200px;
    }

    @include s.tablet {
        width: 200px;
        height: 200px;
    }

    @include s.desktop {
        width: 250px;
        height: 250px;
    }
}

/* input[type='file'] {
    display: none;
    /* 원래 파일 입력 필드를 숨김
} */



