/* Page_AddGreen.css (별도의 CSS 파일) */
@use '../sass/_variables.scss' as s;


@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.add_container {
    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* 상하 위치 조정 */
    margin-bottom: 7%;

    /* 크기 지정 */
    height: 100%;
    width: 90%;

    @include s.desktop {
        width: 1200px;
        border-radius: 5%;
    }
}


/********************************* 전체 틀  */
.photoGreen1,
.basicInfo {
    display: grid;
    align-items: center;
    justify-items: center;

    @include s.tablet {
        width: 250px;
        height: 100%;
    }

    @include s.desktop {
        width: 400px;
        height: 100%;
    }
}





.main_big_pie2 {
    justify-content: center;

    /* 헤더 제외 하단 영역 */
    @include s.tablet {
        display: flex;
        width: 100%;
    }

    @include s.desktop {
        display: flex;
        width: 1200px;
        height: 100%;
        margin-top: 3%;
    }
}


/* 사진이 들어갈 부분 */
.photoGreen {
    background-color: #335A3B;
    color: white;
    /* 모양 만들기 */
    border-radius: 50%;
    border: 2px solid #ccc;
    overflow: hidden;

    /* 내부 text 가운데 정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* 서로 상하 위치 조정 */
    margin-bottom: 1%;


    @include s.mobile {
        height: 200px;
        width: 200px;
    }

    @include s.tablet {
        width: 230px;
        height: 230px;
    }

    @include s.desktop {
        width: 300px;
        height: 300px;

    }
}

.photoGreen img {
    border-radius: 50%;

    @include s.mobile {
        height: 200px;
        width: 200px;
        left: 25%
    }

    @include s.tablet {
        width: 230px;
        height: 230px;
    }

    @include s.desktop {
        width: 300px;
        height: 300px;
    }
}

.inputPhoto {
    /* 버튼 태그로 만들면서 자동생성된 css 삭제 */
    background: none;
    border: none;
    width: 200px;


}

.mini_title1,
.mini_title2 {
    /* 폰트 */
    font-weight: bolder;
    font-size: 120%;
}

.mini_title1 {
    /* 위치 조정 */
    position: relative;

    @include s.desktop {
        margin-bottom: 2%;
        left: -15%;
    }

    @include s.tablet {
        margin-bottom: 5%;
    }

}

.mini_title2 {
    /* 위치 조정 */
    position: relative;

    @include s.desktop {
        margin-bottom: 2%;
        left: -15%;
    }
    @include s.tablet {
        margin-bottom: 5%;
    }
}

.title_text {
    color: #000000;
    text-align: center;
    font-size: small;
    width: 100px;

    /* 서로 상하 위치 조정 */
    margin-top: 7%;

    /* 위치 조정 */
    position: relative;

    @include s.desktop {
        right: 22%;
    }

}

.greenName,
.greenNickname,
.greenText {
    /* 범위 및 크기 지정 */
    height: 35px;
    padding: 2%;

    /* 내용 왼쪽 정렬 */
    text-align: left;


    /* css */
    border-radius: 0.7em;
    background-color: #F2F2F2;
    color: #000000;
    border: none;

    @include s.mobile {
        width: 85%;
        padding-left: 4%;
    }

    @include s.tablet {
        width: 80%;
        padding-left: 7%;
    }

    @include s.desktop {
        width: 70%;
        padding-left: 7%;
    }
}

.Lastwater {
    margin-bottom: 7%;
}

.greenStart,
.Lastwater,
.greenColor {
    height: 35px;

    /* 내용 왼쪽 정렬 */
    text-align: left;

    /* css */
    border-radius: 0.7em;
    background-color: #F2F2F2;
    border: none;

    @include s.mobile {
        width: 85%;
        padding-left: 4%;
        padding-right: 3%;
    }

    @include s.tablet {
        width: 80%;
        padding-left: 7%;
        padding-right: 3%;
    }

    @include s.desktop {
        width: 70%;
        padding-left: 7%;
        padding-right: 3%;
    }
}





/********************************** 버튼 태그 css */
.complete_button {
    position: relative;
    top: 50%;

    /* 범위 및 크기 지정 */
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    width: 70%;
    height: auto;

    /* css */
    border: 1px solid #335A3B;
    border-radius: 0.7em;
    text-decoration-line: none;
    background-color: #DDEFC7;

    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;

    @include s.mobile {
        margin-top: 30px;
    }

    @include s.tablet {
        margin-top: 30px;
    }

    @include s.desktop {
        margin-top: 140px;
    }
}

.complete_button {
    padding: 7.875px;
}

.complete_button:hover {
    background-color: #335A3B;
    color: white;
}