@use '../sass/_variables.scss' as s;
/* Page_myGreen.css (별도의 CSS 파일) */

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.main_title {
    align-items: center;
}

.main_title img {
    @include s.mobile {
        width: 70px;
    }

    @include s.tablet {
        width: 100px;
    }

    @include s.desktop {
        width: 100px;
    }
}

.mid_title {
    @include s.mobile {
        margin-right: 20%;
    }

    @include s.tablet {
        margin-right: 20%;
    }

    @include s.desktop {
        margin-right: 66%;
    }
}

.mid_title_bin img {
    @include s.mobile {
        margin-right: 15px;
        width: 20px;
    }

    @include s.tablet {
        margin-right: 30px;
        width: 25px;
    }

    @include s.desktop {
        margin-right: 30px;
        width: 25px;
    }
}

/* 부트스트랩 아이콘 */
.icon_add a {
    margin-right: 0;
    text-decoration: none;
    color: #000000;
    width: auto;
    text-align: right;

    /* 위치 조정 */
    margin-right: 4%;
    margin-top: 2%;
    position: relative;


}

.icon_add svg {
    /* 부트 스트랩 svg태그 아이콘 크기 조정 */
    width: 25px;

    @include s.mobile {
        width: 20px;
    }
}