@use '../sass/variables' as s;

@include s.mobile {
    .flipText {
        margin: 20px;
        text-align: center;
        font-family: 'NanumSquareNeo-Variable';
        font-size: 25px;
        font-weight: 600;
        color: rgb(12, 12, 12);
    }
}

.slide_setBox{
    display: flex;
    justify-content: center;
    @include s.mobile{
        width: 360px;
        margin: 10px;
    }

    @include s.tablet{
        width: 500px;
        height: 600px;
        margin: 50px;
    }

    @include s.desktop{
        width: 930px;
        margin: 50px;
    }

}

