@use '../sass/variables' as s;

@include s.mobile {
    .flipText {
        margin: 20px;
        font-family: 'NanumSquareNeo-Variable';
        font-size: 25px;
        font-weight: 600;
        color: rgb(12, 12, 12);
        text-align: center;
    }
}

.slide_setBox{
    display: flex;
    justify-content: center;
    @include s.mobile{
        margin: 10px;
        width: 360px;
    }

    @include s.tablet{
        width: 600px;
        height: 600px;
    }

    @include s.desktop{
        width: 1000px;

    }

}

