.web_top_container {
  display: flex;
  justify-content: center;
}

.web_container {
  margin-top: 10px;
  height: 936px;
  border-radius: 5%;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .web_container {
    width: 800px;
  }
}
@media (min-width: 1200px) {
  .web_container {
    width: 1200px;
  }
}