@charset "UTF-8";
@media (min-width: 335px) and (max-width: 757px) {
  .top_container {
    display: flex;
    justify-content: center;
    flex-direction: column; /* 아이템을 수직으로 나열합니다 */
    justify-content: space-between; /* 아이템을 위아래로 균등하게 분배합니다 */
    align-items: center;
  }
}

@media (min-width: 335px) and (max-width: 757px) {
  .ai_header_box {
    background-color: rgb(255, 255, 255);
    width: 360px;
  }
}

@media (min-width: 335px) and (max-width: 757px) {
  .icon_home {
    margin-left: 300px;
    margin-top: 20px;
    fill: black;
  }
}
@media (min-width: 1024px) {
  .icon_home {
    display: none;
  }
}