@charset "UTF-8";
.photo_top_container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  background-color: white;
}
@media (min-width: 360px) and (max-width: 799px) {
  .photo_top_container {
    justify-content: center;
    align-items: center;
  }
}

.photo_second_container {
  overflow: auto;
  display: flex;
  background-color: rgb(230, 230, 230);
}
@media (min-width: 360px) and (max-width: 799px) {
  .photo_second_container {
    width: 350px;
    height: 400px;
    margin-top: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .photo_second_container {
    width: 550px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .photo_second_container {
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 40px;
  }
}

.photo_second_container::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바 너비 설정 */
}

.photo_second_container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  /* 스크롤바 썸의 배경 색상 설정 */
}

.photo_second_container::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 스크롤바 썸에 마우스 호버했을 때의 배경 색상 설정 */
}

.photo_container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 360px) and (max-width: 799px) {
  .photo_container {
    margin-left: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .photo_container {
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .photo_container {
    margin-left: 20px;
  }
}

.selected {
  border: 6px double transparent;
  /* 기본 테두리 색상을 투명하게 설정합니다. */
  border-image: linear-gradient(#7bc48b, #2cbd64) 6;
  /* #ff0000과 #00ff00을 원하는 색상으로 바꿉니다. */
}

.image_container {
  margin-top: 20px;
  height: 220px;
  width: 100%;
}

.image_container img {
  width: 200px;
  height: 200px;
  margin: auto;
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_pageInfo {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .web_pageInfo {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 90px;
    align-items: center;
    margin-right: auto;
    margin-bottom: auto;
  }
}
@media (min-width: 1200px) {
  .web_pageInfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 90px;
    align-items: center;
    margin-right: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_pageInfo img {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .web_pageInfo img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 1200px) {
  .web_pageInfo img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_infoText {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .web_infoText {
    font-size: 20px;
    font-weight: 900;
  }
}
@media (min-width: 1200px) {
  .web_infoText {
    font-size: 20px;
    font-weight: 900;
  }
}

.radio_container {
  margin-top: 30px;
}
@media (min-width: 360px) and (max-width: 799px) {
  .radio_container {
    width: 360px;
    margin-top: 30px;
  }
}

.radio_text_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio_box {
  display: flex;
  justify-content: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .radio_box {
    width: 290px;
    height: 40px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .radio_box {
    height: 42px;
  }
}
@media (min-width: 1200px) {
  .radio_box {
    height: 55px;
  }
}

.web_radio_box {
  display: flex;
}
@media (min-width: 360px) and (max-width: 799px) {
  .web_radio_box {
    margin-left: 8px;
    width: 290px;
    height: 40px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .web_radio_box {
    height: 45px;
    margin-left: 45px;
  }
}
@media (min-width: 1200px) {
  .web_radio_box {
    height: 60px;
    margin-left: 90px;
  }
}

.img_question {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
}

.radio_text {
  margin-left: 10px;
  font-weight: 700;
  font-size: 20px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .radio_text {
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .radio_text {
    margin-left: 100px;
  }
}

.radio {
  font-size: 18px;
  margin: 5px 10px 0px 0px;
}

.radio_label {
  margin-top: 10px;
  width: 100px;
  width: 80px;
  cursor: pointer;
  text-align: center;
  padding: 1%;
  background-color: #DDEFC7;
  font-weight: 600;
  border-radius: 5%;
  margin: 10px 5px 0px 0px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .radio_label {
    margin-top: 10px;
    width: 100px;
  }
}
@media (min-width: 1200px) {
  .radio_label {
    margin: 10px 5px;
    width: 140px;
  }
}

.checked {
  background-color: #335A3B;
  color: white;
}

input[type=radio] {
  display: none;
}

.photo_btn_div {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 30px;
}

.uploadBtn,
.ai_style_btn {
  width: 130px;
  border-color: #b8c7a5;
  background-color: #DDEFC7;
  border-radius: 10px;
  height: 40px;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .uploadBtn,
  .ai_style_btn {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .uploadBtn,
  .ai_style_btn {
    width: 300px;
  }
}

.uploadBtn:hover,
.ai_style_btn:hover {
  background-color: #335A3B;
  color: white;
}

.ai_style_btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ai_style_btn {
  background-color: #DDEFC7;
  margin-top: 20px;
  height: 40px;
}
@media (min-width: 1200px) {
  .ai_style_btn {
    margin-top: 10px;
  }
}