.photo_top_container {
  display: flex;
  flex-direction: column;
  width: 1000px;
}
@media (min-width: 360px) and (max-width: 799px) {
  .photo_top_container {
    justify-content: center;
    align-items: center;
  }
}

.photo_second_container {
  overflow: auto;
  display: flex;
  background-color: rgb(230, 230, 230);
}
@media (min-width: 360px) and (max-width: 799px) {
  .photo_second_container {
    width: 350px;
    height: 460px;
  }
}
@media (min-width: 1200px) {
  .photo_second_container {
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 20px;
  }
}

.photo_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upload_btn {
  border-radius: 50%;
  fill: rgb(67, 155, 59);
}
@media (min-width: 360px) and (max-width: 799px) {
  .upload_btn {
    margin: 20px;
    margin-left: 280px;
  }
}
@media (min-width: 1200px) {
  .upload_btn {
    margin: 630px;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_pageInfo {
    display: none;
  }
}
@media (min-width: 1200px) {
  .web_pageInfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 90px;
    align-items: center;
    margin-right: auto;
    margin-bottom: auto;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_pageInfo img {
    display: none;
  }
}
@media (min-width: 1200px) {
  .web_pageInfo img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_infoText {
    display: none;
  }
}
@media (min-width: 1200px) {
  .web_infoText {
    font-size: 20px;
    font-weight: 900;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .web_pageInfo {
    display: none;
  }
}
@media (min-width: 1200px) {
  .web_pageInfo {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 90px;
    align-items: center;
    margin-right: auto;
    margin-bottom: auto;
  }
}

.photo_btn_div {
  align-items: end;
  height: 90px;
}