@charset "UTF-8";
/* GreenList_all.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/****************************** 식물리스트 공간 */
.list_container2 {
  /* 범위 지정 */
  height: auto;
  /* 배치 조정 */
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  /* css */
  background-color: #F2F2F2;
  border-radius: 0.7em;
  overflow: auto;
  text-decoration-line: none;
  color: #000000;
  padding-left: 5%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .list_container2 {
    width: 95%;
    height: auto;
    max-height: 470px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .list_container2 {
    width: 86%;
    height: auto;
    max-height: 450px;
  }
}
@media (min-width: 1200px) {
  .list_container2 {
    width: 94%;
    height: auto;
    max-height: 765px;
  }
}

.list_container2::-webkit-scrollbar {
  width: 10px;
  /* 스크롤바 너비 설정 */
}

.list_container2::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  /* 스크롤바 썸의 배경 색상 설정 */
}

.list_container2::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* 스크롤바 썸에 마우스 호버했을 때의 배경 색상 설정 */
}

/****************************** 동그라미 사진 공간 */
.green,
.select_all {
  color: white;
  /* 모양 만들기 */
  border-radius: 50%;
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .green,
  .select_all {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .green,
  .select_all {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .green,
  .select_all {
    width: 275px;
    height: 275px;
  }
}

.select_all {
  background-color: #335A3B;
}

/* 저장된 사진 이미지 */
.green img {
  /* 모양 만들기 */
  border-radius: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .green img {
    width: 90px;
    height: 90px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .green img {
    width: 140px;
    height: 140px;
  }
}
@media (min-width: 1200px) {
  .green img {
    width: 260px;
    height: 260px;
  }
}

.linkPhoto2 {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 3%;
  color: black;
  text-decoration-line: none;
}
@media (min-width: 360px) and (max-width: 799px) {
  .linkPhoto2 {
    padding-left: 7%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .linkPhoto2 {
    padding-left: 4%;
  }
}

.linkText2 {
  position: relative;
}
@media (min-width: 360px) and (max-width: 799px) {
  .linkText2 {
    right: 9%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .linkText2 {
    right: 7%;
  }
}
@media (min-width: 1200px) {
  .linkText2 {
    font-size: 20px;
    right: 4%;
  }
}

/**********************************알람 동그라미*/
.alarm_circle_all {
  border-radius: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .alarm_circle_all {
    width: 13px;
    height: 13px;
    margin-left: 100px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .alarm_circle_all {
    width: 15px;
    height: 15px;
    margin-left: 150px;
  }
}
@media (min-width: 1200px) {
  .alarm_circle_all {
    width: 20px;
    height: 20px;
    margin-left: 275px;
  }
}

.alarm_circle_all_none {
  border-radius: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .alarm_circle_all_none {
    width: 13px;
    height: 13px;
    margin-left: 100px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .alarm_circle_all_none {
    width: 20px;
    height: 20px;
    margin-left: 150px;
  }
}
@media (min-width: 1200px) {
  .alarm_circle_all_none {
    width: 20px;
    height: 20px;
    margin-left: 275px;
  }
}