@charset "UTF-8";
/* Header-home.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.header_container,
.header_container2 {
  background-color: #E7F1E9;
  padding: 1% 0;
  padding-left: 7%;
  padding-right: 4%;
  /* 크기 지정 */
  height: 10%;
  width: 100%;
  /* 내용 가운데 정렬 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .header_container,
  .header_container2 {
    width: 1200px;
    padding-left: 3%;
  }
}

.logo img {
  width: 150px;
}

.nav_menu {
  display: flex;
  text-align: center;
  /* 아이콘 박스 크기 조정 */
}
@media (min-width: 360px) and (max-width: 799px) {
  .nav_menu {
    width: 80px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .nav_menu {
    padding-right: 10%;
    width: 120px;
  }
}
@media (min-width: 1200px) {
  .nav_menu {
    padding-right: 5%;
  }
}

.icon_mypage {
  /* 아이콘 div 거리두기 조정 */
}
@media (min-width: 360px) and (max-width: 799px) {
  .icon_mypage {
    padding-right: 25%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .icon_mypage {
    padding-right: 80%;
  }
}
@media (min-width: 1200px) {
  .icon_mypage {
    padding-right: 60%;
  }
}

/* 헤더 아이콘들 css */
.nav_menu a {
  margin-right: 0;
  text-decoration: none;
  color: #000000;
  width: auto;
  text-align: right;
}

.nav_menu svg {
  /* 부트 스트랩 svg태그 아이콘 크기 조정 */
  width: 27px;
}

/**************************** 메인 아랫쪽 header */
.header_container2 {
  height: 55px;
}

.header_container2 a {
  color: #000000;
}

.header_container2 svg {
  /* 부트 스트랩 svg태그 아이콘 크기 조정 */
  width: 25px;
}

.bin {
  /* 아이콘 div 거리두기 조정 */
  padding-right: 45%;
}

/********************** Header_home2.jsx */
.headerBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
}
@media (min-width: 1200px) {
  .headerBox {
    width: 550px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .headerBox {
    width: 400px;
  }
}

.header_menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-left: 30px;
}
@media (min-width: 360px) and (max-width: 799px) {
  .header_menu {
    display: none;
  }
}

.header_menu a {
  text-decoration: none;
  color: #000000;
}

.header_menu a:hover {
  background-color: #65c265;
  border-radius: 50%;
  font-size: 20px;
  font-weight: border;
}