/************************************** 회원정보수정/회원가입 title */
.main_title {
  /* 폰트 */
  font-weight: bolder;
  font-size: 150%;

  /* 내용 가운데 정렬 */
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


/************************************** AiHeader.jsx */
.icon_home a {
  margin-right: 0;
  text-decoration: none;
  color: #000000;
  width: auto;
  text-align: right;

  /* 위치 조정 */
  margin-right: 1%;
  position: relative;
}

.icon_home svg {
  /* 부트 스트랩 svg태그 아이콘 크기 조정 */
  width: 33px;
}

/************************************** Header_diary.jsx 삭제 아이콘 */
.icon_bin {
  /* 아이콘 div 거리두기 조정 */
  padding-right: 62%;
}

.icon_bin svg {
  /* 부트 스트랩 svg태그 아이콘 크기 조정 */
  width: 33px;
}

.header_diary {
  /* 정렬 */
  display: flex;
  text-align: center;
  justify-content: space-around;

  padding: 3%;
}