@media (min-width: 360px) and (max-width: 799px) {
  .top_container {
    width: 330px;
    margin: 0px auto;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .top_container {
    width: 400px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .top_container {
    width: 550px;
    height: 500px;
  }
}