.item_plant_choice_container {
  margin: 10px;
  width: 100px;
}

.plant_choice_nickname {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 600;
}

.circle {
  margin: 10px;
}

.plant_choice_image {
  cursor: pointer;
}