@media (min-width: 360px) and (max-width: 799px) {
  .item_photo {
    width: 100px;
    height: 100px;
    background-color: rgb(155, 248, 171);
    margin: 5px;
    border-radius: 5%;
    cursor: pointer;
  }
}
@media (min-width: 1200px) {
  .item_photo {
    width: 150px;
    height: 150px;
    background-color: rgb(155, 248, 171);
    margin: 5px;
    border-radius: 5%;
    cursor: pointer;
  }
}