@charset "UTF-8";
@media (min-width: 360px) and (max-width: 799px) {
  .top_container {
    width: 330px;
    margin: 0px auto;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .top_container {
    width: 400px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .top_container {
    width: 550px;
    height: 500px;
  }
}

.slide_container {
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
}

.slide_container img {
  margin-top: 20px;
  border-radius: 10px;
  object-fit: cover;
}
@media (min-width: 360px) and (max-width: 799px) {
  .slide_container img {
    width: 330px;
    height: 370px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .slide_container img {
    width: 400px;
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .slide_container img {
    width: 500px;
    height: 500px;
  }
}

.slide_text_box {
  margin-left: 10px;
  top: -26%;
  left: 0;
  transform: none;
  bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* 오른쪽 아래 방향으로 검은색 테두리 */
}