.top_container {
  display: flex;
  justify-content: center;
}

.flip_container {
  width: 330px;
  height: 370px;
  position: relative;
  align-items: center;
}

@media (min-width: 335px) and (max-width: 757px) {
  .flip_container img {
    margin-top: 20px;
    border-radius: 10px;
    width: 330px;
    height: 370px;
    position: relative;
  }
}
@media (min-width: 1024px) {
  .flip_container img {
    display: none;
  }
}

.flip_text_box {
  margin-left: 10px;
  top: -26%;
  left: 0;
  transform: none;
  bottom: 0;
  position: relative;
  font-size: 20px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}