.item_ai_return {
  margin-top: 25px;
  margin-bottom: 25px;
}

.item_ai_return img {
  background-color: rgb(223, 223, 223);
  margin: 5px;
  border-radius: 5%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .item_ai_return img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .item_ai_return img {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .item_ai_return img {
    width: 500px;
    height: 500px;
  }
}