@charset "UTF-8";
.greendiary_container {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
}
@media (min-width: 1200px) {
  .greendiary_container {
    width: 1200px;
    height: 936px;
    border-radius: 5%;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .main_big_pie1 > .ai_plant_container {
    display: none;
  }
}

.diary_all {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* 작성 및 삭제 아이콘 */
.icons2 {
  display: flex;
}
@media (min-width: 360px) and (max-width: 799px) {
  .icons2 {
    width: 80px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .icons2 {
    width: 130px;
  }
}
@media (min-width: 1200px) {
  .icons2 {
    width: 125px;
  }
}

.mid_title {
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
@media (min-width: 1200px) {
  .mid_title {
    display: flex;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .mid_title {
    font-size: 20px;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .mid_title_edit img,
  .mid_title_bin2 img {
    margin-right: 20px;
    width: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mid_title_edit img,
  .mid_title_bin2 img {
    margin-right: 30px;
    width: 25px;
  }
}
@media (min-width: 1200px) {
  .mid_title_edit img,
  .mid_title_bin2 img {
    margin-right: 38px;
    width: 25px;
  }
}

/********************************** 다이어리 아랫 공간 */
.diary_box {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .diary_box {
    width: 1000px;
  }
}

.diary_box2 {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .diary_box2 {
    width: 615px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diary_box2 {
    width: 550px;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .diary_box2 {
    width: 319px;
  }
}

.diaryFile2 {
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  /* css */
  color: black;
  margin: 0.5%;
}
@media (min-width: 1200px) {
  .diaryFile2 {
    width: 193px;
    height: 193px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diaryFile2 {
    width: 175px;
    height: 175px;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .diaryFile2 {
    width: 155px;
    height: 155px;
  }
}

.diary_info {
  position: relative;
  /* CSS */
  font-size: 15px;
  font-weight: bolder;
  color: #000000;
  text-align: left;
}
@media (min-width: 360px) and (max-width: 799px) {
  .diary_info {
    font-size: 12px;
    top: -35%;
    margin-right: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diary_info {
    /* 위치 */
    margin-right: 20px;
    top: -33%;
  }
}
@media (min-width: 1200px) {
  .diary_info {
    /* 위치 */
    margin-right: 40px;
    top: -30%;
  }
}

.diary_title {
  /* 크기 */
  width: 120px;
  height: 22.5px;
  /* CSS */
  overflow: hidden;
}
@media (min-width: 360px) and (max-width: 799px) {
  .diary_title {
    height: 17px;
  }
}