@charset "UTF-8";
/* Mypage.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.mypage_container {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
  /* 내용 가운데 정렬 */
  align-items: center;
  text-align: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .mypage_container {
    /* 내용 가운데 정렬 */
    justify-content: space-around;
    /* 상하 위치 조정 */
    margin-top: 20%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mypage_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 상하 위치 조정 */
    margin-top: 13%;
  }
}
@media (min-width: 1200px) {
  .mypage_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 상하 위치 조정 */
    margin-top: 10%;
  }
}

.mypage_box {
  /* 내용 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .mypage_box {
    width: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mypage_box {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .mypage_box {
    width: 30%;
  }
}

.mypage_form {
  width: auto;
  margin-top: 10%;
  /* 내용 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.text2 {
  /* 서로 상하 위치 조정 */
  margin-top: 7%;
  /* 범위 및 크기 지정 */
  width: 100%;
  height: auto;
  padding-left: 2%;
  /* 내용 가운데 정렬 */
  text-align: left;
  /* css */
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  /* background-color: #F2F2F2; */
  font-weight: bolder;
}
@media (min-width: 360px) and (max-width: 799px) {
  .text2 {
    font-size: 13px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .text2 {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .text2 {
    font-size: 17px;
  }
}

.session_info,
.mypage_pw,
.mypage_nickname {
  /* 범위 및 크기 지정 */
  width: 100%;
  height: auto;
  padding: 2%;
  padding-top: 0;
  padding-left: 10%;
  /* 내용 가운데 정렬 */
  text-align: left;
  /* css */
  border-bottom-left-radius: 0.7em;
  border-bottom-right-radius: 0.7em;
  /* background-color: #F2F2F2; */
}
@media (min-width: 360px) and (max-width: 799px) {
  .session_info,
  .mypage_pw,
  .mypage_nickname {
    font-size: 12px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .session_info,
  .mypage_pw,
  .mypage_nickname {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .session_info,
  .mypage_pw,
  .mypage_nickname {
    font-size: 15px;
  }
}

.mypage_pw,
.mypage_nickname {
  /* css */
  color: #A6A6A6;
  border: none;
}

/********************************** 버튼 태그 css */
.complete_button {
  border: 1px solid #335A3B;
  margin-bottom: 5%;
  display: inline-block;
  /* 범위 및 크기 지정 */
  margin-left: 15%;
  margin-right: 15%;
  width: 100%;
  height: auto;
  /* css */
  border-radius: 0.7em;
  background-color: #DDEFC7;
  /* 내용 가운데 정렬 */
  text-align: center;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .complete_button {
    padding: 2%;
  }
}
@media (min-width: 1200px) {
  .complete_button {
    padding: 3%;
  }
}

.complete_button:hover {
  background-color: #335A3B;
}