@charset "UTF-8";
/* Page_myGreen.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.myGreen_container {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
}
@media (min-width: 1200px) {
  .myGreen_container {
    width: 1200px;
    height: 936px;
    border-radius: 5%;
  }
}

.mid_title1 {
  font-weight: bolder;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin-left: 5%;
}
@media (min-width: 1200px) {
  .mid_title1 {
    padding-left: 3%;
    display: flex;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .mid_title1 {
    font-size: 20px;
  }
}

/******************************* 중간 소제목  */
.mid_title2 {
  font-weight: bolder;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mid_title2 {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  .mid_title2 {
    font-size: 25px;
    font-weight: bolder;
  }
}

/* 이미지 */
@media (min-width: 360px) and (max-width: 799px) {
  .mid_title2 img {
    width: 70px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mid_title2 img {
    width: 70px;
  }
}
@media (min-width: 1200px) {
  .mid_title2 img {
    width: 100px;
  }
}

.icons {
  display: flex;
}
@media (min-width: 360px) and (max-width: 799px) {
  .icons {
    width: 80px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .icons {
    width: 130px;
  }
}
@media (min-width: 1200px) {
  .icons {
    width: 160px;
  }
}

/* 오른쪽 삭제 아이콘 */
@media (min-width: 360px) and (max-width: 799px) {
  .mid_title_bin img {
    margin-right: 15px;
    width: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mid_title_bin img {
    margin-right: 30px;
    width: 25px;
  }
}
@media (min-width: 1200px) {
  .mid_title_bin img {
    margin-right: 40px;
    width: 25px;
  }
}

/* 부트스트랩 아이콘 */
.icon_add {
  width: 30px;
}

.icon_add a {
  text-decoration: none;
  color: #000000;
  width: auto;
}

.icon_add svg {
  /* 부트 스트랩 svg태그 아이콘 크기 조정 */
  width: 25px;
}
@media (min-width: 360px) and (max-width: 799px) {
  .icon_add svg {
    width: 20px;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .header_container {
    display: none;
  }
}