@charset "UTF-8";
/* login.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/********************************* 폰트 설정 */
* {
  font-family: "NanumSquareNeo-Variable";
}

.logo_font {
  font-family: "KCC-Ganpan";
}
@media (min-width: 360px) and (max-width: 799px) {
  .logo_font {
    font-size: 230%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .logo_font {
    font-size: 270%;
  }
}
@media (min-width: 1200px) {
  .logo_font {
    font-size: 300%;
  }
}

.etc_font {
  font-family: "NanumSquareNeo-Variable";
}
@media (min-width: 360px) and (max-width: 799px) {
  .etc_font {
    font-size: 130%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .etc_font {
    font-size: 150%;
  }
}
@media (min-width: 1200px) {
  .etc_font {
    font-size: 180%;
  }
}

.login_container {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
  /* 내용 가운데 정렬 */
  align-items: center;
  text-align: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .login_container {
    /* 내용 가운데 정렬 */
    justify-content: space-around;
    /* 크기 지정 */
    max-height: 500px;
    /* 상하 위치 조정 */
    margin-top: 50%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .login_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 상하 위치 조정 */
    margin-top: 25%;
  }
}
@media (min-width: 1200px) {
  .login_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 상하 위치 조정 */
    margin-top: 15%;
  }
}

/********************************* 로고 이미지 css */
@media (min-width: 360px) and (max-width: 799px) {
  .input_logo {
    margin-bottom: 5%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .input_logo {
    height: 150px;
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .input_logo {
    height: 200px;
    width: 400px;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .input_logo img {
    position: relative;
    height: 110px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .input_logo img {
    height: 150px;
  }
}
@media (min-width: 1200px) {
  .input_logo img {
    height: 180px;
  }
}

.login {
  /* 내용 가운데 정렬 */
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.login_box {
  /* 내용 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}