/* writeDiary.css (별도의 CSS 파일) */

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.writeDiary_container {
    font-family: 'NanumSquareNeo-Variable';
    /* 범위 지정 */
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 3%;
    width: 94%;
    height: auto;

    /* 배치 조정 */
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;

    /* css */
    background-color: #F2F2F2;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}
