@charset "UTF-8";
/* Page_AddGreen.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.add_container {
  /* 내용 가운데 정렬 */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* 상하 위치 조정 */
  margin-bottom: 7%;
  /* 크기 지정 */
  height: 100%;
  width: 90%;
}
@media (min-width: 1200px) {
  .add_container {
    width: 1200px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .add_container {
    width: 800px;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .add_container {
    width: 360px;
  }
}

/********************************* 전체 틀  */
.photoGreen1,
.basicInfo {
  display: grid;
  align-items: center;
  justify-items: center;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .photoGreen1,
  .basicInfo {
    width: 250px;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  .photoGreen1,
  .basicInfo {
    width: 400px;
    height: 100%;
  }
}

.main_big_pie2 {
  justify-content: center;
  /* 헤더 제외 하단 영역 */
}
@media (min-width: 800px) and (max-width: 1199px) {
  .main_big_pie2 {
    display: flex;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .main_big_pie2 {
    display: flex;
    width: 1200px;
    height: 100%;
    margin-top: 3%;
  }
}

/* 사진이 들어갈 부분 */
.photoGreen {
  background-color: #335A3B;
  color: white;
  /* 모양 만들기 */
  border-radius: 50%;
  border: 2px solid #ccc;
  overflow: hidden;
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 서로 상하 위치 조정 */
  margin-bottom: 1%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .photoGreen {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .photoGreen {
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 1200px) {
  .photoGreen {
    width: 300px;
    height: 300px;
  }
}

.photoGreen img {
  border-radius: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .photoGreen img {
    height: 200px;
    width: 200px;
    left: 25%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .photoGreen img {
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 1200px) {
  .photoGreen img {
    width: 300px;
    height: 300px;
  }
}

.inputPhoto {
  /* 버튼 태그로 만들면서 자동생성된 css 삭제 */
  background: none;
  border: none;
  width: 200px;
}

.mini_title1,
.mini_title2 {
  /* 폰트 */
  font-weight: bolder;
  font-size: 120%;
}

.mini_title1 {
  /* 위치 조정 */
  position: relative;
}
@media (min-width: 1200px) {
  .mini_title1 {
    margin-bottom: 2%;
    left: -15%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mini_title1 {
    margin-bottom: 5%;
  }
}

.mini_title2 {
  /* 위치 조정 */
  position: relative;
}
@media (min-width: 1200px) {
  .mini_title2 {
    margin-bottom: 2%;
    left: -15%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .mini_title2 {
    margin-bottom: 5%;
  }
}

.title_text {
  color: #000000;
  text-align: center;
  font-size: small;
  width: 100px;
  /* 서로 상하 위치 조정 */
  margin-top: 7%;
  /* 위치 조정 */
  position: relative;
}
@media (min-width: 1200px) {
  .title_text {
    right: 22%;
  }
}

.greenName,
.greenNickname,
.greenText {
  /* 범위 및 크기 지정 */
  height: 35px;
  padding: 2%;
  /* 내용 왼쪽 정렬 */
  text-align: left;
  /* css */
  border-radius: 0.7em;
  background-color: #F2F2F2;
  color: #000000;
  border: none;
}
@media (min-width: 360px) and (max-width: 799px) {
  .greenName,
  .greenNickname,
  .greenText {
    width: 85%;
    padding-left: 4%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .greenName,
  .greenNickname,
  .greenText {
    width: 80%;
    padding-left: 7%;
  }
}
@media (min-width: 1200px) {
  .greenName,
  .greenNickname,
  .greenText {
    width: 70%;
    padding-left: 7%;
  }
}

.Lastwater {
  margin-bottom: 7%;
}

.greenStart,
.Lastwater,
.greenColor {
  height: 35px;
  /* 내용 왼쪽 정렬 */
  text-align: left;
  /* css */
  border-radius: 0.7em;
  background-color: #F2F2F2;
  border: none;
}
@media (min-width: 360px) and (max-width: 799px) {
  .greenStart,
  .Lastwater,
  .greenColor {
    width: 85%;
    padding-left: 4%;
    padding-right: 3%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .greenStart,
  .Lastwater,
  .greenColor {
    width: 80%;
    padding-left: 7%;
    padding-right: 3%;
  }
}
@media (min-width: 1200px) {
  .greenStart,
  .Lastwater,
  .greenColor {
    width: 70%;
    padding-left: 7%;
    padding-right: 3%;
  }
}

/********************************** 버튼 태그 css */
.complete_button {
  /* 범위 및 크기 지정 */
  display: inline-block;
  margin-bottom: 5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  height: auto;
  /* css */
  border: 1px solid #335A3B;
  border-radius: 0.7em;
  text-decoration-line: none;
  background-color: #DDEFC7;
  /* 내용 가운데 정렬 */
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .complete_button {
    margin-top: 30px;
    width: 70%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .complete_button {
    margin-top: 30px;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .complete_button {
    margin-top: 30px;
    width: 60%;
    margin-left: 10%;
    margin-right: 15%;
  }
}

.complete_button {
  padding: 7.875px;
}

.complete_button:hover {
  background-color: #335A3B;
  color: white;
}

.info_text2 {
  color: red;
  text-align: right;
  font-size: small;
  margin-bottom: 1%;
  /* 위치 조정 */
  position: relative;
}
@media (min-width: 1200px) {
  .info_text2 {
    left: 12%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .info_text2 {
    left: 12%;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .info_text2 {
    left: -6%;
  }
}