@charset "UTF-8";
/* writeDiary.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.writeDiary_container {
  font-family: "NanumSquareNeo-Variable";
  /* 범위 지정 */
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: auto;
  /* 내용 가운데 정렬 */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* 상하 위치 조정 */
  margin-bottom: 7%;
}
@media (min-width: 1200px) {
  .writeDiary_container {
    width: 1200px;
    height: 936px;
    border-radius: 5%;
  }
}

.header_diary {
  /* 배치 조정 */
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.diary_pie {
  width: 100%;
  height: 100%;
}
@media (min-width: 1200px) {
  .diary_pie {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .main_pie1 {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .partRight {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .partLeft {
    width: 500px;
  }
}

/************************************* Profile.css(CSS 파일) */
.profile_container2 {
  /* 배치 조정 */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1200px) {
  .profile_container2 {
    display: none;
  }
}

.profile_green {
  background-color: #335A3B;
  color: white;
  /* 모양 만들기 */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 저장된 사진 이미지 */
.profile_green img {
  /* 모양 만들기 */
  border-radius: 50%;
  width: 63px;
  height: 63px;
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************************************  날짜 */
@media (min-width: 1200px) {
  .diaryDate1 {
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0.7em;
    padding: 2%;
    width: auto;
    background-color: #8AC4A3;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .diaryDate1 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .diary_photo2,
  .Diary_Sidebar,
  .diaryDate2 {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diary_photo2,
  .Diary_Sidebar,
  .diaryDate2 {
    display: none;
  }
}

/*************************************  파일선택하면 사진 뜨는 공간 */
.green_photo {
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* css */
  color: black;
}
@media (min-width: 1200px) {
  .green_photo {
    width: 100%;
    height: 300px;
  }
}

.green_photo img {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 80%;
}
.inputWrite {
  margin: 10px;
  width: 200px;
}

/*************************************  일기 작성하는 곳 */
@media (min-width: 360px) and (max-width: 799px) {
  .input_container2 {
    width: 320px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .input_container2 {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .input_container2 {
    width: 90%;
    height: 90%;
  }
}