@charset "UTF-8";
@media (min-width: 1200px) {
  .forMobile {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .forMobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .forDesktop,
  .forDesktop2 {
    width: 50%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .forDesktop,
  .forDesktop2 {
    width: 50%;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .forDesktop,
  .forDesktop2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .forDesktop2 {
    margin-top: 5.5%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .forDesktop2 {
    margin-top: 7%;
  }
}

@media (min-width: 1200px) {
  .diaryPie {
    width: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diaryPie {
    width: 800px;
  }
}

.diaryBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .diaryBottom {
    flex-direction: column;
  }
}

.leftPart {
  max-width: 500px;
  width: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .leftPart {
    width: 90%;
  }
}

.rightPart {
  max-width: 500px;
  width: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .rightPart {
    width: 90%;
  }
}

.infoDisease {
  width: 250px;
  height: 30px;
  padding-right: none;
  position: relative;
  /* CSS */
  font-weight: bolder;
  text-align: right;
}
@media (min-width: 1200px) {
  .infoDisease {
    left: 42%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .infoDisease {
    left: 12%;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .infoDisease {
    left: 17%;
  }
}

/*************************************  일기 작성하는 곳 */
.input_container3 {
  margin-left: 3%;
  margin-right: 3%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .input_container3 {
    margin: 5%;
  }
}
@media (min-width: 1200px) {
  .input_container3 {
    width: 90%;
    height: 90%;
  }
}