/* Intro.css (별도의 CSS 파일) */

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.intro_body {
    font-family: 'NanumSquareNeo-Variable';
    background-color: #DDEFC7;
}

.intro_container {
    /* 크기 지정 */
    height: 100%;
    max-height: 500px;
    width: 100%;

    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;

    /* 상하 위치 조정 */
    margin-top: 50%;
}

/********************************* 로고 이미지 css */
.intro_logo {
    margin-bottom: 30%;
}

.intro_logo img {
    position: relative;
    height: 110px;
}

/********************************** 버튼 태그 css */
.join_button2,
.login_button,
.join_button {
    /* 위치 */
    position: relative;
    top: 50%;

    /* 범위 및 크기 지정 */
    display: inline-block;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: auto;

    /* css */
    border: 1px solid #335A3B;
    border-radius: 0.7em;
    background-color: #DDEFC7;
    color: #000000;
    font-size: 17px;
    text-decoration-line: none;

    /* 내용 가운데 정렬 */
    justify-content: space-around;
    align-items: center;
    text-align: center;

    /* div태그와 hover같이 작동 */
    /*     display: block; */
    text-align: center;
}

.join_button2:hover,
.join_button:hover,
.login_button:hover {
    background-color: #335A3B;
    color: white;
}

.join_button2 {
    padding: 10.4375px;
}

/* /********************************* link 태그 css */
.button_links {
    padding: 3%;

    /* css */
    /*     border: 1px solid #335A3B; */
    border-radius: 0.7em;
    background-color: #DDEFC7;
    color: #000000;
    font-size: 17px;
    text-decoration-line: none;

    /* div태그와 hover같이 작동 */
    display: block;
    width: 100%;
    text-align: center;
}

/* Link태그 hover */
.join_button a:hover,
.login_button a:hover {
    background-color: #335A3B;
    color: white;
}