@charset "UTF-8";
/* Page_join.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.join_container {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
  /* 내용 가운데 정렬 */
  align-items: center;
  text-align: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .join_container {
    /* 내용 가운데 정렬 */
    justify-content: space-around;
    /* 크기 지정 */
    max-height: 500px;
    /* 상하 위치 조정 */
    margin-top: 20%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .join_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 상하 위치 조정 */
    margin-top: 13%;
  }
}
@media (min-width: 1200px) {
  .join_container {
    /* 내용 가운데 정렬 */
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 930px;
  }
}

.join_box {
  /* 내용 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .join_box {
    width: 100%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .join_box {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .join_box {
    width: 31%;
  }
}

/********************************* 오른쪽 부분 / 타이틀 빼고  */
.join_box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

/********************************* 유저 사진 */
.join_photo {
  background-color: #335A3B;
  color: white;
  border: 2px solid #ccc;
  overflow: hidden;
  /* 모양 만들기 */
  border-radius: 50%;
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 서로 상하 위치 조정 */
  margin-top: 2%;
  margin-bottom: 1%;
  position: relative;
}
@media (min-width: 360px) and (max-width: 799px) {
  .join_photo {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .join_photo {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .join_photo {
    width: 250px;
    height: 250px;
  }
}

.join_photo img {
  border-radius: 50%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .join_photo img {
    /* 가운데 정렬 */
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .join_photo img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .join_photo img {
    width: 250px;
    height: 250px;
  }
}

/********************************* 파일선택 css */
.inputJoin {
  width: 180px;
  font-size: 13px;
}
@media (min-width: 1200px) {
  .inputJoin {
    margin-left: 20px;
  }
}
/* join-button css는 Page_intro.css에! */
.join_id,
.join_pw,
.join_name,
.join_nickname {
  /* css */
  border-radius: 0.7em;
  background-color: #F2F2F2;
  color: #000000;
  border: none;
  /* 범위 지정 */
  /*     margin-left: 15%;
      margin-right: 15%; */
  padding: 2%;
  padding-left: 4%;
  /* 내용 왼쪽 정렬 */
  text-align: left;
}
@media (min-width: 360px) and (max-width: 799px) {
  .join_id,
  .join_pw,
  .join_name,
  .join_nickname {
    font-size: 12px;
    /* 서로 상하 위치 조정 */
    margin-top: 5%;
    /* 크기 지정 */
    width: 60%;
    height: auto;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .join_id,
  .join_pw,
  .join_name,
  .join_nickname {
    font-size: 15px;
    /* 서로 상하 위치 조정 */
    margin-top: 4%;
    /* 크기 지정 */
    width: 60%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .join_id,
  .join_pw,
  .join_name,
  .join_nickname {
    font-size: 15px;
    /* 서로 상하 위치 조정 */
    margin-top: 7%;
    /* 크기 지정 */
    width: 85%;
    height: auto;
  }
}

.id_check {
  color: red;
  text-align: left;
  font-size: 10px;
  left: 11%;
  /* 위치 조정 */
  position: relative;
}
@media (min-width: 1200px) {
  .id_check {
    font-size: 12px;
    left: 20%;
  }
}

.joinBack {
  position: relative;
}
@media (min-width: 360px) and (max-width: 799px) {
  .joinBack {
    left: 40%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .joinBack {
    display: none;
  }
}
@media (min-width: 1200px) {
  .joinBack {
    display: none;
  }
}