@charset "UTF-8";
/* writeDiary.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.writeDiary_container {
  /* 내용 가운데 정렬 */
  display: flex;
  justify-content: space-around;
  text-align: center;
}
@media (min-width: 1200px) {
  .writeDiary_container {
    /* 크기 */
    width: 1200px;
    height: 863px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .writeDiary_container {
    width: 800px;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .writeDiary_container {
    width: 360px;
  }
}

.header_diary {
  /* 배치 조정 */
  display: flex;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.diary_pie {
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .diary_pie {
    display: flex;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diary_pie {
    width: 600px;
  }
}

@media (min-width: 1200px) {
  .diary_Bigpie {
    width: auto;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .partRight {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .partLeft {
    width: 500px;
    margin-top: 5%;
  }
}

/************************************* 사이드 바 */
@media (min-width: 360px) and (max-width: 799px) {
  .withDesktop {
    display: none;
  }
}

.profile_container2 {
  /* 배치 조정 */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1200px) {
  .profile_container2 {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .profile_container2 {
    display: none;
  }
}

/* 저장된 사진 이미지 */
.profile_green img {
  /* 모양 만들기 */
  border-radius: 50%;
  width: 63px;
  height: 63px;
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*************************************  날짜 */
@media (min-width: 1200px) {
  .diaryDate1 {
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0.7em;
    padding: 2%;
    width: auto;
    background-color: #8AC4A3;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diaryDate1 {
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0.7em;
    padding: 2%;
    width: auto;
    background-color: #8AC4A3;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .diaryDate1 {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .diaryDate2 {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 0.7em;
    padding: 2%;
    width: auto;
    background-color: #8AC4A3;
  }
}

@media (min-width: 1200px) {
  .diary_photo2,
  .Diary_Sidebar,
  .diaryDate2 {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .diary_photo2,
  .Diary_Sidebar,
  .diaryDate2 {
    display: none;
  }
}

/*************************************  파일선택하면 사진 뜨는 공간 */
@media (min-width: 360px) and (max-width: 799px) {
  .diary_photo1 {
    display: none;
  }
}

.green_photo {
  /* 내부 text 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* css */
  color: black;
  margin-top: 5%;
}
@media (min-width: 1200px) {
  .green_photo {
    width: 100%;
    min-height: 100px;
    height: auto;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .green_photo {
    width: 100%;
    min-height: 100px;
    height: auto;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .green_photo {
    width: 100%;
    min-height: 100px;
    height: auto;
  }
}

.green_photo img {
  width: auto;
  height: auto;
}
@media (min-width: 1200px) {
  .green_photo img {
    max-height: 400px;
    max-width: 90%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .green_photo img {
    max-height: 325px;
    max-width: 90%;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .green_photo img {
    max-height: 290px;
    max-width: 90%;
  }
}

/* 사진 받아오는 input */
.inputWrite {
  margin: 10px;
  width: 200px;
}

/*************************************  일기 작성하는 곳 */
.input_container2 {
  margin-left: 5%;
  margin-right: 5%;
}
@media (min-width: 360px) and (max-width: 799px) {
  .input_container2 {
    margin: 5%;
  }
}
@media (min-width: 1200px) {
  .input_container2 {
    width: 90%;
    height: 90%;
  }
}

.text_alarm {
  font-size: 14px;
  font-weight: bolder;
  text-align: right;
  margin-bottom: 4%;
  position: relative;
}
@media (min-width: 360px) and (max-width: 799px) {
  .text_alarm {
    right: 5%;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .text_alarm {
    right: 5%;
  }
}
@media (min-width: 1200px) {
  .text_alarm {
    right: 5%;
  }
}

.write_box {
  /* 내용 가운데 정렬 */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* 상하 위치 조정 */
  margin-bottom: 7%;
}

.titleBox,
.contentBox {
  /* 위치 지정 */
  width: 100%;
  padding: 2%;
  /* 내용 왼쪽 정렬 */
  text-align: left;
  /* css */
  color: #000000;
  border: none;
}

.titleBox {
  background-color: #DDEFC7;
}

.contentBox {
  height: 200px;
}
@media (min-width: 800px) and (max-width: 1199px) {
  .contentBox {
    height: 120px;
  }
}
@media (min-width: 360px) and (max-width: 799px) {
  .contentBox {
    height: 100px;
  }
}