@charset "UTF-8";
/* Page_main.css (별도의 CSS 파일) */
@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.main_container {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
}
@media (min-width: 1200px) {
  .main_container {
    margin-top: 10px;
    width: 1200px;
    height: 936px;
    border-radius: 5%;
  }
}

.main_page1 {
  /* 크기 지정 */
  height: 100%;
  width: 100%;
  /* 내용 가운데 정렬 */
  align-items: center;
  text-align: center;
}

.main_big_pie1 {
  /* 헤더 제외 하단 영역 */
}
@media (min-width: 1200px) {
  .main_big_pie1 {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .main_big_pie1 > .sidebar {
    display: none;
  }
}

.main_left {
  /* 일자, 캘린더, 식물리스트 */
}
@media (min-width: 1200px) {
  .main_left {
    padding-top: 20px;
    width: 465px;
    height: 100%;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .main_left > .web_date {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .main_pie2 {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 799px) {
  .main_page2 {
    /* 크기 지정 */
    height: 100%;
    width: 100%;
    /* 내용 가운데 정렬 */
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .main_page2 {
    display: none;
  }
}

.middle_menu {
  margin: 2%;
  width: 96%;
  height: 60px;
  /* 박스 정렬 */
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.icon_AI,
.icon_filpBook {
  background-color: white;
  width: 50px;
  height: 50px;
  /* box_shadow: 왼오 위아래 퍼짐정도 진하기 */
  box-shadow: 0px 1px 10px 0px grey;
  border-radius: 15%;
}

.icon_AI img,
.icon_filpBook img {
  /* 아이콘 크기 조정 */
  width: 30px;
  margin-top: 9px;
}