@media (min-width: 360px) and (max-width: 799px) {
  .flipText {
    margin: 20px;
    text-align: center;
    font-family: "NanumSquareNeo-Variable";
    font-size: 25px;
    font-weight: 600;
    color: rgb(12, 12, 12);
  }
}
@media (min-width: 1200px) {
  .slide_setBox {
    width: 930px;
    display: flex;
    justify-content: center;
    margin: 50px;
  }
}