@media (min-width: 360px) and (max-width: 799px) {
  .flipText {
    margin: 20px;
    text-align: center;
    font-family: "NanumSquareNeo-Variable";
    font-size: 25px;
    font-weight: 600;
    color: rgb(12, 12, 12);
  }
}
.slide_setBox {
  display: flex;
  justify-content: center;
}
@media (min-width: 360px) and (max-width: 799px) {
  .slide_setBox {
    width: 360px;
    margin: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1199px) {
  .slide_setBox {
    width: 600px;
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .slide_setBox {
    width: 1000px;
  }
}